  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-scroll shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!">R&R <br>Wares</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item" id="him">
            <a class="nav-link him" href="#!">FOR HIM</a>
          </li>
          <li class="nav-item" id="her">
            <a class="nav-link her" href="#!">FOR HER</a>
          </li>

          <li>
            <div class="form">
              <i class="fa fa-search bg-black"></i>
              <input type="text" class="form-control form-input bg-black text-light" placeholder="Search">
            </div>
          </li>

          <div class="left">
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <div class="round bg-black">
                  <i class="fa-regular fa-heart text-light"></i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <div class="round bg-black">
                  <i class="fa-solid fa-user text-light"></i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#!">
                <div class="round bg-black">
                  <i class="fa-solid fa-cart-shopping text-light"></i>
                </div>
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->